@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

// Fonts
@font-face {
  font-family: Poppins-Regular;
  src: url('fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('fonts/poppins/Poppins-SemiBold.ttf');
}

// Public
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

// Variables
$creamy: #F3F0D2;
$green: #00B524;
$red: #E00000;

$navHeight: 56px;
$containerHeight: calc(100vh - $navHeight);

body,
html {
  height: 100vh;
  font-family: Poppins-Regular, sans-serif;
  background: black;
}

// Glowing buttons
.glow-button-red {
  box-shadow: 0 0 30px $red;
}
.glow-button-green {
  box-shadow: 0 0 30px $green;
}


#error_message {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  color: rgb(248, 126, 126);
}

.pass-error {
  position: absolute;
  color: rgb(248, 126, 126);
}

.link {
  text-decoration: none;
  color: black;
}

// Navbar
nav {
  border-bottom: 1px solid $green;
  max-height: $navHeight;
}

// Modal
.create-game-modal,
.game-summary-modal {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (max-width: 576px) {
    padding: 16px 0 0 0;
  }

  .podium {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

    .first-place {
      transform: translateY(-10px);
    }

    .place {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .settings {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;

    @media screen and (max-width: 576px) {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }

    .card-title {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }

    .usersCard,
    .settingsCard {
      max-height: 770px;
      z-index: 9999;
      background-color: $green !important;
      color: black !important;

      .card-body {
        .form-select {
          background-color: $creamy;
          color: black;
        }
      }

      .card-header {
        background-color: #01d42b;
      }
    }

    .usersCard {
      .card-body {
        .card-title {
          display: flex;
          flex-direction: row;

          @media screen and (max-width: 576px) {
            display: flex;
            flex-direction: column;
            gap: 10px;
          }
        }
      }
    }
  }

  .sticky-top {
    position: sticky;
    top: 0;
    width: 100px;
    z-index: 1;

    @media screen and (max-width: 576px) {
      position: relative;
      width: 100%;
      order: -1;
    }
  }

  .btn {
    display: flex;
    align-self: center;
  }
}

.create-game-modal {

  .modal-body,
  .modal-header {
    background-color: black;
  }

  .modal-header {
    border-bottom: 1px solid $green;
  }
}

.game-summary-modal {
  .training-stats {
    position: relative;

    .col {
      text-align: center;
      border: 1px solid $creamy;

      span {
        color: white;
        background-color: transparent;
      }
    }
  }
}

// Home Page / Darts Page
.darts-page,
.home-page {
  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
    color: white;

    @media screen and (max-width: 576px) {
      flex-direction: column;
      width: 100%;
    }

    .my-card {
      display: flex;
      flex-direction: column;
      width: 33%;
      height: 75vh;
      border-radius: 20px;
      padding: 10px;

      @media screen and (max-width: 576px) {
        width: 100%;
      }

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        h3 {
          padding-top: 10px;
          text-align: center;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        margin: 10px 0 10px 0;
        overflow-y: auto;

        .element {
          position: relative;
          display: flex;
          flex-direction: row;
          align-items: center;
          border-radius: 15px;
          min-height: 60px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          transition: transform 0.3s ease;
          text-decoration: none;

          &:nth-child(3n + 1) {
            background-color: $red;
            color: white;
          }

          &:nth-child(3n + 2) {
            background-color: $green;
            color: black;

          }

          &:nth-child(3n + 3) {
            background-color: $creamy;
            color: black;
          }

          .elementInfo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3px;
            padding: 10px;
            border-right: 1px solid black;
            width: 10%;
            max-height: 67px;
            min-height: 67px;

            &:first-child {
              flex-direction: row;
              width: 60px;
            }
          }
        }

        .element:hover {
          transform: translateY(-5px);
          cursor: pointer;
        }
      }
    }
  }
}

// Home Page
.home-page {
  height: $containerHeight;
  padding: 20px;

  @media screen and (max-width: 576px) {
    padding: 20px 0 0 0;
  }

  .cards {
    height: 100%;
    align-items: center;

    .my-card {
      width: 40%;
    }

    @media screen and (max-width: 576px) {
      height: auto;
    }
  }
}

// Darts Page
.darts-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 20px 0 20px;

  @media screen and (max-width: 576px) {
    padding: 20px 0 0 0;
  }

  .btn {
    display: flex;
    align-self: center;
  }

  .games {
    .info {
      .element {
        .elementInfo {
          width: 14% !important;
          max-height: 60px !important;

          @media screen and (max-width: 1160px) {
            font-size: 1.2vw;
          }

          @media screen and (max-width: 576px) {
            font-size: 16px;
          }

          &:first-child {
            width: 80px !important;
          }
        }

        .usersCount {
          width: 6% !important;
          border: none !important;
          padding: 0 !important;
        }

        .timedate {
          position: absolute;
          border: none !important;
          width: 100px !important;
          padding: 0 !important;
          right: 0;
          bottom: 0;
          font-size: 10px;
        }
      }
    }
  }
}

// Darts Game
.darts-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;

  @media screen and (max-width: 576px) {
    flex-direction: column;
  }

  .right-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    padding: 10px;
    box-shadow: $creamy 0px 1px 4px;
    width: 35%;
    height: 95vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    user-select: none;
    border-radius: 20px;

    @media screen and (max-width: 576px) {
      width: 100%;
      border-radius: 0;
      height: auto;
    }

    // Accordion
    .accordion {
      position: absolute;
      top: 10px;
      width: calc(100% - 20px);
      max-height: 52px;

      // Table
      .table {
        --bs-table-color: '#fff';
      }

      .accordion-body {
        overflow-y: auto;
        max-height: 87vh;
        padding: 0;

        @media screen and (max-width: 576px) {
          max-height: 50vh;
          position: relative;
          width: 100%;
        }
      }

      @media screen and (max-width: 576px) {
        position: relative;
        width: 100%;
      }
    }

    // Keyboard
    .keyboard {
      width: 100%;
      box-shadow: $creamy 0px 1px 4px;
      padding: 10px;
      border-radius: 20px;

      .input,
      .special {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $creamy;
        font-size: 30px;
        border: none;
        border-radius: 20px;
        height: 50px;

        @media screen and (max-width: 576px) {
          font-size: 1.5rem;
          height: 5.3vh;
        }
      }

      .input:not([disabled]):hover {
        cursor: pointer;
        opacity: 0.8;
      }

      .numbers {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
        gap: 10px;
        padding-bottom: 10px;

        @media screen and (max-width: 576px) {
          grid-template-columns: repeat(auto-fill, minmax(21.5vw, 1fr));
          gap: 5px;
        }
      }

      .specials {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
        gap: 10px;

        @media screen and (max-width: 576px) {
          grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
          gap: 5px;
        }

        .special {
          font-size: 14px;
          padding: 15px;

          &:nth-child(1) {
            background-color: $green;
          }

          &:nth-child(4) {
            background-color: $red;
          }
        }
      }
    }
  }

  .darts-game {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $creamy 0px 1px 4px;
    border-radius: 20px;
    width: 60%;
    height: 95vh;
    padding: 15px;
    color: white;

    @media screen and (max-width: 576px) {
      width: 100%;
      padding: 5px;
      border-radius: 0;
      overflow: hidden;
      height: 50%;
      box-shadow: none;
    }

    .info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      gap: 20px;

      h2 {
        @media screen and (max-width: 576px) {
          font-size: 17px;
        }
      }

      h5 {
        @media screen and (max-width: 576px) {
          font-size: 12px;
        }
      }
    }

    .users {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 95%;
      padding: 20px;
      overflow-y: auto;
      height: 100%;

      @media screen and (max-width: 576px) {
        width: 100%;
        padding: 0;
      }

      .user {
        display: flex;
        flex-direction: row;
        font-size: 25px;
        border-right: 1px solid $creamy;
        height: 90px;
        transition: all 0.1s;

        @media screen and (max-width: 576px) {
          min-height: 80px;
          width: 100%;
          font-size: 20px;
          margin: 0;
        }

        .main-col {
          display: grid;
          border: 1px solid $creamy;
          border-right: none;

          .row {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid $creamy;

            .darts-thrown {
              display: flex;
              align-items: center;
              gap: 2px;
              position: absolute;
              right: 10px;
              top: 2px;
              padding: 0;
              width: 20px;
              height: 12px;
              font-size: 12px;
            }

            &:last-child {
              border-bottom: none;
            }

            b {
              display: flex;
              justify-content: center;
            }
          }

          .turns {
            .turn {
              text-align: center;
              border-bottom: none;
              border-right: 1px solid lightgrey;
              min-height: 36px;

              @media screen and (max-width: 576px) {
                min-height: 30px;
                padding: 0;
              }

              &:last-child {
                border: none;
              }
            }
          }

          .legs-sets {
            position: relative;

            .legs,
            .sets {
              position: inherit;
              text-align: center;

              .SL {
                position: absolute;
                top: -4px;
                right: 2px;
                font-size: 12px;
              }
            }

            .legs {
              border-right: 1px solid lightgrey;
            }

          }

          .avg {
            color: $red;
          }
        }
      }
    }
  }
}

// DartsUser Page
.dart-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  height: $containerHeight;
  padding-top: 20px;

  .header {
    text-align: center;
    width: 100%;
  }

  .charts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: $containerHeight;

    div {
      display: flex;
      width: 80%;

      canvas {
        border: 1px white solid;
      }

      .options {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 15px;
      }
    }
  }
}

// Login/Register/NotFound Page
.login-page,
.register-page,
.notfound-page {
  a {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
  }

  a:focus {
    outline: none !important;
  }

  a:hover {
    text-decoration: none;
    color: #fff;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0px;
    color: white;
  }

  p {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
  }

  ul,
  li {
    margin: 0px;
    list-style-type: none;
  }

  input {
    outline: none;
    border: none;
  }

  textarea {
    outline: none;
    border: none;
  }

  textarea:focus,
  input:focus {
    border-color: transparent !important;
  }

  input:focus::-webkit-input-placeholder {
    color: transparent;
  }

  input:focus:-moz-placeholder {
    color: transparent;
  }

  input:focus::-moz-placeholder {
    color: transparent;
  }

  input:focus:-ms-input-placeholder {
    color: transparent;
  }

  textarea:focus::-webkit-input-placeholder {
    color: transparent;
  }

  textarea:focus:-moz-placeholder {
    color: transparent;
  }

  textarea:focus::-moz-placeholder {
    color: transparent;
  }

  textarea:focus:-ms-input-placeholder {
    color: transparent;
  }

  input::-webkit-input-placeholder {
    color: #fff;
  }

  input:-moz-placeholder {
    color: #fff;
  }

  input::-moz-placeholder {
    color: #fff;
  }

  input:-ms-input-placeholder {
    color: #fff;
  }

  textarea::-webkit-input-placeholder {
    color: #fff;
  }

  textarea:-moz-placeholder {
    color: #fff;
  }

  textarea::-moz-placeholder {
    color: #fff;
  }

  textarea:-ms-input-placeholder {
    color: #fff;
  }

  label {
    margin: 0;
    display: block;
  }

  /*---------------------------------------------*/
  button {
    outline: none !important;
    border: none;
    background: transparent;
  }

  button:hover {
    cursor: pointer;
  }

  iframe {
    border: none !important;
  }

  .txt1 {
    font-family: Poppins-Regular;
    font-size: 13px;
    color: #e5e5e5;
    line-height: 1.5;
  }


  // Login
  .limiter {
    width: 100%;
    margin: 0 auto;
  }

  .container-login100 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: relative;
    z-index: 1;
  }

  .container-login100::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
  }

  .wrap-login100 {
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    padding: 55px 55px 37px 55px;

    background: #9152f8;
    background: -webkit-linear-gradient(top, #7579ff, #b224ef);
    background: -o-linear-gradient(top, #7579ff, #b224ef);
    background: -moz-linear-gradient(top, #7579ff, #b224ef);
  }


  // Form
  .login100-form {
    width: 100%;
  }

  .login100-form-title {
    font-family: Poppins-Medium;
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;

    display: block;
  }

  // Input
  .wrap-input100 {
    width: 100%;
    position: relative;
    margin-bottom: 30px;
  }

  .input100 {
    font-family: Poppins-Regular;
    font-size: 16px;
    border-bottom: 2px solid var(--border-bottom-color, rgba(255, 255, 255, 0.24));
    ;

    color: #fff;
    line-height: 1.2;

    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 5px 0 38px;
  }

  .focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  .focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    background: var(--border-bottom-color, #fff);
  }

  .focus-input100::after {
    font-family: Material-Design-Iconic-Font;
    font-size: 22px;
    color: #fff;

    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 6px;
    left: 0px;
    padding-left: 5px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  .input100:focus {
    padding-left: 5px;
  }

  .input100:focus+.focus-input100::after {
    top: -22px;
    font-size: 18px;
  }

  .input100:focus+.focus-input100::before {
    width: 100%;
  }

  .has-val.input100+.focus-input100::after {
    top: -22px;
    font-size: 18px;
  }

  .has-val.input100+.focus-input100::before {
    width: 100%;
  }

  .has-val.input100 {
    padding-left: 5px;
  }


  // Restyle Checkbox
  .contact100-form-checkbox {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 35px;
  }

  .input-checkbox100 {
    display: none;
  }

  .label-checkbox100 {
    font-family: Poppins-Regular;
    font-size: 13px;
    color: #fff;
    line-height: 1.2;

    display: block;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
  }

  .label-checkbox100::before {
    content: "\f26b";
    font-family: Material-Design-Iconic-Font;
    font-size: 13px;
    color: transparent;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    background: #fff;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .input-checkbox100:checked+.label-checkbox100::before {
    color: #555555;
  }


  // Button
  .container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .login100-form-btn {
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #555555;
    line-height: 1.2;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 120px;
    height: 50px;
    border-radius: 25px;

    background: #9152f8;
    background: -webkit-linear-gradient(bottom, #7579ff, #b224ef);
    background: -o-linear-gradient(bottom, #7579ff, #b224ef);
    background: -moz-linear-gradient(bottom, #7579ff, #b224ef);
    position: relative;
    z-index: 1;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  .login100-form-btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: #fff;
    top: 0;
    left: 0;
    opacity: 1;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  .login100-form-btn:hover {
    color: #fff;
  }

  .login100-form-btn:hover:before {
    opacity: 0;
  }


  // Responsive
  @media (max-width: 576px) {
    .wrap-login100 {
      padding: 55px 15px 37px 15px;
    }
  }

  // Alert validate
  .validate-input {
    position: relative;
  }

  .alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0px;
    pointer-events: none;

    font-family: Poppins-Regular;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }

  .alert-validate::after {
    content: "\f12a";
    font-family: FontAwesome;
    font-size: 16px;
    color: #c80000;

    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 5px;
  }

  .alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
  }

  @media (max-width: 992px) {
    .alert-validate::before {
      visibility: visible;
      opacity: 1;
    }
  }
}

.notfound-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 30px;

  a {
    text-decoration: none;
  }
}