@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

// Global

.container_no_nav {
  height: calc(100vh - 64px) !important;
}

.particles {
  pointer-events: none;
}

.portfolio-footer, .portfolio-about-me, .portfolio-experience, .projects {
  padding: 0 11vw;

  @media screen and (max-width: 639px) {
    padding: 0 5vw;
  }
}

// Navbar
.portfolio-navbar {
  nav {
    height: 24px;
    width: 24px;
    
    button {
      outline: none;
      border: none;
      cursor: pointer;
      position: absolute;
      top: 20px;
      right: 20px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background: transparent;
    }
    
    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px;
      position: absolute;
      top: 64px;
      right: 42px;
    }
    
    li {
      list-style: none;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }
}

// Footer

.portfolio-footer {
  .contact, .social-media {
    height: 120px;
  }
}

// Parallax

html {
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

.home-portfolio-content {
  @media screen and (max-width: 639px) {
    display: flex;
    flex-direction: column;
  }

  section {
    height: 100vh;
    display: flex;
    perspective: 100vh;
    scroll-snap-align: center;

    @media screen and (max-width: 639px) {
      scroll-snap-align: none;
      height: auto;
    }
  }

  #footer {
    @media screen and (max-width: 639px) {
      height: 30vh;
    }
  }
}